<%- include("./templates/header"); -%> <%- include("./templates/nav"); -%>
<h1>Servicios</h1>
<% servicios.forEach(element => { %>
<h3><%= element.servicio %></h3>
<p><%= element.descripcion %></p>
<% }) %> <%- include("./templates/footer"); -%>
